<div class="component is-3d" [ngClass]="{'is-grab': !isDragging, 'is-grabbing': isDragging, 'is-transition': !isDragging, 'is-pointer-events-none': isPointerDragging}"
  [style.width.px]="size * gridSize" [style.height.px]="size * gridSize" [ngStyle]="{'transform': 'translateZ(' + posZ + 'px) translateX(' + posX + 'px) translateY(' + posY + 'px)'}"
  [attr.title]="tooltipInfo">
  <div class="component-content is-3d" [@bounceInOut]="'in'">
    <div class="pedestal-inner"></div>
    <div class="pedestal-outer"></div>
    <div class="upright-transform is-fit-width is-3d">
      <div class="fill-frame">
        <div *ngIf="0 < name.length" class="name-tag is-nowrap is-black-background" [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px) translateY('+ (-altitude * gridSize) + 'px)'}">
          <div class="expendables" *ngIf="0 < expendables.length">
              <span *ngFor="let expendable of expendables" class="expendable" [ngClass]="expendable.expended ? 'expended' : ''">{{expendable.name}}</span>
          </div>
          <span>{{name}}</span>
          <div class="statuses" *ngIf="0 < statuses.length">{{statuses.join(' ')}}</div>
          <div class="resources" *ngIf="0 < resources.length">
              <span *ngFor="let resource of resources" class="resource" [ngClass]="(resource.value <= 0 || (resource.max && resource.value / resource.max <= 0.1)) ? 'exhaustion' : (resource.max && resource.value / resource.max <= 0.5) ? 'warning' : ''"><span class="resourceName">{{resource.name}}:</span>{{+resource.value}}<sub *ngIf="resource.max == +resource.max && +resource.max != 0">/{{+resource.max}}</sub></span>
          </div>
        </div>
        <img class="image" *ngIf="0 < imageFile.url.length" [src]="imageFile.url | safe: 'resourceUrl'" [ngStyle]="{'transform': 'scale(' + (isInvert ? -1 : 1) + ', 1) translateY(' + (isProne ? '25' : '0') + '%) translateY(' + (-altitude * gridSize) + 'px) rotateZ(' + (isProne ? (isInvert ? '90' : '-90') : '0') + 'deg)', 'filter': 'drop-shadow(' + (altitude * (!isProne ? 0 : (isInvert ? 1 : -1) * gridSize)) + 'px ' + (altitude * (isProne ? 0 : gridSize)) + 'px 0px rgba(255, 255, 255, 0.3))'}">
      </div>
    </div>
  </div>
</div>