<ng-container *ngIf="gameDataElement">
  <ng-container *ngIf="gameDataElement.children.length < 1">
    <div *ngIf="isEdit" class="table-cell table-cell_solid">
      <button (click)="addElement()"><i class="material-icons">add_circle</i></button>
      <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
      <br>
      <button (click)="deleteElement()"><i class="material-icons">remove_circle_outline</i></button>
      <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
      <select (change)="setElementType($event.target.value)" [ngModel]="gameDataElement.type">
          <option value="">通常</option>
          <option value="simpleNumber">数値</option>
          <option value="numberResource">リソース</option>
          <option value="status">✔状態</option>
         <option value="note">ノート</option>
      </select>
    </div>
    <div class="table-cell table-cell_solid">
      <ng-container *ngIf="isTagLocked">
        <div style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{gameDataElement.name}}</div>
      </ng-container>
      <ng-container *ngIf="!isTagLocked">
          <div class="hidden-spacer" style="font-family: Cambria, Georgia; font-size: 0.9rem;">{{gameDataElement.name}}</div>
          <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 0.9rem;" size="1" (change)="gameDataElement.update()"
            [(ngModel)]="gameDataElement.name" placeholder="Value" />
      </ng-container>
    </div>
    <div class="table-cell">
      <ng-container *ngIf="isSize">
        <input style="width:90%;" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.value" type="range" min="{{gameDataElement.name === 'altitude' ? -20 : 0}}"
          max="{{gameDataElement.name === 'fontsize' ? 120 : 20}}" step="0.5" />
        <br>
        <input style="width:90%; max-width:8em" type="number" min="{{gameDataElement.name === 'altitude' ? -20 : 0}}" step="0.1" size="1" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.value" placeholder="Value"
         />
      </ng-container>
      <ng-container *ngIf="!isSize">
        <ng-container [ngSwitch]="gameDataElement.attributes['type']">
          <ng-container *ngSwitchCase="'numberResource'">
             <sup>0</sup> <input style="width:70%;" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.currentValue" type="range" min="0"
              max="{{!+gameDataElement.value ? 255 : gameDataElement.value}}" /><sup>{{!+gameDataElement.value ? '???' : gameDataElement.value}}</sup>
            <br />
            <input style="width:40%; max-width:8em" type="number" size="1" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.currentValue" placeholder="Value"
            /> /
            <input style="width:40%; max-width:8em" type="number" size="1" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.value" placeholder="Value"
            />
          </ng-container>
          <ng-container *ngSwitchCase="'simpleNumber'">
            <input style="width:100%; max-width:8em" type="number" size="1" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.value" placeholder="Value">
          </ng-container>
          <ng-container *ngSwitchCase="'status'">
            <input style="width:80%; max-width:4em" type="checkbox" value="{{gameDataElement.name}}" checked="{{gameDataElement.value ? 'checked' : ''}}" (change)="gameDataElement.value = (!gameDataElement.value ? gameDataElement.name : '')">
          </ng-container>
          <ng-container *ngSwitchCase="'expendable'">
            <input style="width:80%; max-width:4em" type="checkbox" value="{{gameDataElement.name}}" checked="{{!gameDataElement.value ? 'checked' : ''}}" (change)="gameDataElement.value = (!gameDataElement.value ? gameDataElement.name : '')">
          </ng-container>
          <ng-container *ngSwitchCase="'note'">
            <textarea class="data-element-note" style="width:100%; min-width:50px; resize:both;" [style.height]="isTagLocked ? '15em' : '5.7em'" (change)="this.markdownImageBrobUrlReplace2IdValue()" [(ngModel)]="gameDataElement.value" placeholder="Note"></textarea>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <!--<input style="width:100%;" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.value" placeholder="Value"/>-->
            <!-- size属性がないと小さくならない -->
            <div class="hidden-spacer" style="font-size: 1.2rem; font-family: Cambria, Georgia;">{{gameDataElement.value}}</div>
            <input style="width:100%; min-width:10px;" size="1" (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.value"
              placeholder="Value" />
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="0 < gameDataElement.children.length">
    <div *ngIf="isEdit" class="table-cell table-cell_solid" style="vertical-align: top;">
      <button (click)="addElement()"><i class="material-icons">add_circle</i></button>
      <button (click)="upElement()"><i class="material-icons">arrow_upward</i></button>
      <br>
      <button (click)="deleteElement()"><i class="material-icons">remove_circle_outline</i></button>
      <button (click)="downElement()"><i class="material-icons">arrow_downward</i></button>
    </div>
    <div class="table-cell table-cell_inner-table" style="padding:0; width:0;"></div>
    <div class="table-cell_inner-table">
      <div class="table-cell_inner-table-title">
        <ng-container *ngIf="isTagLocked">
          <div style="padding: 2px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;">{{gameDataElement.name}}</div>
        </ng-container>
        <ng-container *ngIf="!isTagLocked">
          <input style="width:100%; min-width:10px; font-family: Cambria, Georgia; font-size: 1.0rem; font-weight: bold;" size="1"
           (change)="gameDataElement.update()" [(ngModel)]="gameDataElement.name" placeholder="Value" />
        </ng-container>
      </div>
      <div class="table" *ngIf="0 < gameDataElement.children.length">
        <div game-data-element class="table-row" *ngFor="let childElement of gameDataElement.children" [gameDataElement]="childElement"
          [isEdit]="isEdit" [isTagLocked]="isTagLocked"></div>
      </div>
    </div>
  </ng-container>
</ng-container>